{% extends "base.html" %}

{% block content %}
<h1>Добавить маршрут</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.way.label }}<br>
        {{ form.way(class="form-control") }}<br>
        {% for error in form.way.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.work_size.label }}<br>
        {{ form.work_size(class="form-control") }}<br>
        {% for error in form.work_size.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.leader.label }}<br>
        {{ form.leader(class="form-control") }}<br>
        {% for error in form.leader.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(class="form-control") }}<br>
        {% for error in form.start_date.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(class="form-control") }}<br>
        {% for error in form.end_date.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.categor.label }}<br>
        {{ form.categor(class="form-control") }}<br>
        {% for error in form.categor.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.iname.label }}<br>
        {{ form.iname(class="form-control") }}<br>
        {% for error in form.iname.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_finished() }} {{ form.is_finished.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}